<script>
  $(document).ready(function () {
    jQuery.noConflict();
    //$('#password_modal').modal('show');
    //=================================================


    function checkPassword() {
      var password = localStorage.getItem('password');
      
      if (!password) {
        
        $('#password_modal').modal('show');
                
        var form = document.getElementById('pass-btn');
        form.addEventListener('click', function(e) {
          e.preventDefault();
          
          var passwordInput = document.getElementById('password').value;
          
          localStorage.setItem('password', passwordInput);

        
          $('#password_modal').modal('hide');
        });
      }
    };
    
    checkPassword();    


    var log = document.getElementById('logout-btn');
    log.addEventListener('click', function(e) {
          e.preventDefault();
          localStorage.clear();
          window.location.replace("/logout");
        });
  //==================================================
  var y;
  function create_token() {

    var payload = {
      "username": "{{request.user.username}}",
      "password": localStorage.getItem('password')
    };

    $.ajax({
      url: "/api/token/",
      async: false,
      type: "POST",
      data: JSON.stringify(payload),
      cache: false,
      processData: false,
      contentType: "application/json",
      success: function (data) {
        // store tokens in localStorage
        //x=window.localStorage.setItem('refreshToken', data['refresh']);
        window.localStorage.setItem('accessToken', data['access']);
        y = data['access']
        //console.log(y);
      },
      error: function (rs, e) {
        console.error(rs.status);
        console.error(rs.responseText);
      }
    });
  };

  //create_token();
  //console.log("out",y);


  Date.prototype.today = function () {
    return ((this.getDate() < 10) ? "0" : "") + this.getDate() + "/" + (((this.getMonth() + 1) < 10) ? "0" : "") + (this.getMonth() + 1) + "/" + this.getFullYear();
  };

  // For the time now
  Date.prototype.timeNow = function () {
    return ((this.getHours() < 10) ? "0" : "") + this.getHours() + ":" + ((this.getMinutes() < 10) ? "0" : "") + this.getMinutes() + ":" + ((this.getSeconds() < 10) ? "0" : "") + this.getSeconds();
  };

  //var datetime = new Date().today() + " @ " + new Date().timeNow();

  //$('.time').text(datetime);


  function checkAllValuesNone(payload) {
    for (const key in payload) {
      if (payload[key] !== "") {
        return false; // Value is not "none"
      }
    }
    return true; // All values are "none"
  };


  $("body").on("click", ".lala", function (e) {
    e.preventDefault();
    create_token();
    var pk = this.id;
    headers_payload = { 'Authorization': 'Bearer ' + y, 'Content-type': 'application/json' };
    $.ajax({
      url: "delete_data_nodes/" + pk + "/",
      data: {},
      headers: headers_payload,
      type: "POST",
      contentType: "application/json",
      success: function (result) {
        document.getElementById("delete_node" + String(pk)).remove();
      },
      error: function (jqXHR, textStatus, errorThrown) {
        alert(errorThrown);
      },
    });
  });

  $("#node2").hide();
  $("#node1").click(function () {
    jQuery.noConflict();
    $('#exampleModal').modal('show');

  });

  $("#add_user").click(function () {
    jQuery.noConflict();
    $('#user_modal').modal('show');
  });


  //=============================================================   
  $('#current-cb').change(function () {
    if ($(this).is(':checked')) {
      $(".current-box").removeClass("d-none");
      $("#current_low").val("0");
      $("#current_high").val("100");
    } else {
      $(".current-box").addClass("d-none");
      $("#current_low").val("undefined");
      $("#current_high").val("undefined");
    }
  });

  $('#voltage-cb').change(function () {
    if ($(this).is(':checked')) {
      $(".voltage-box").removeClass("d-none");
      $("#voltage_low").val("0");
      $("#voltage_high").val("100");
    } else {
      $(".voltage-box").addClass("d-none");
      $("#voltage_low").val("undefined");
      $("#voltage_high").val("undefined");
    }
  });

  $('#generator_speed-cb').change(function () {
    if ($(this).is(':checked')) {
      $(".generator_speed-box").removeClass("d-none");
      $("#generator_speed_low").val("0");
      $("#generator_speed_high").val("100");
    } else {
      $(".generator_speed-box").addClass("d-none");
      $("#generator_speed_low").val("undefined");
      $("#generator_speed_high").val("undefined");
    }
  });

  $('#windspeed-cb').change(function () {
    if ($(this).is(':checked')) {
      $(".windspeed-box").removeClass("d-none");
      $("#windspeed_low").val("0");
      $("#windspeed_high").val("100");
    } else {
      $(".windspeed-box").addClass("d-none");
      $("#windspeed_low").val("undefined");
      $("#windspeed_high").val("undefined");
    }
  });

  $('#power-cb').change(function () {
    if ($(this).is(':checked')) {
      $(".power-box").removeClass("d-none");
      $("#power_low").val("0");
      $("#power_high").val("100");
    } else {
      $(".power-box").addClass("d-none");
      $("#power_low").val("undefined");
      $("#power_high").val("undefined");
    }
  });
  //=============================================================   


  $('#current-cb-edit').change(function () {
    console.log("done");
    if ($(this).is(':checked')) {
      $(".current-box-edit").removeClass("d-none");
      $("#edit-node-modal-current_low").attr('data-currentlow', 'present');
      $("#edit-node-modal-current_high").attr('data-currenthigh', 'present');
    } else {
      $(".current-box-edit").addClass("d-none");
      $("#edit-node-modal-current_low").attr('data-currentlow', 'absent');
      $("#edit-node-modal-current_high").attr('data-currenthigh', 'absent');
    }
  });

  $('#voltage-cb-edit').change(function () {
    if ($(this).is(':checked')) {
      $(".voltage-box-edit").removeClass("d-none");
      $("#edit-node-modal-voltage_low").attr('data-voltagelow', 'present');
      $("#edit-node-modal-voltage_high").attr('data-voltagehigh', 'present');
    } else {
      $(".voltage-box-edit").addClass("d-none");
      $("#edit-node-modal-voltage_low").attr('data-voltagelow', 'absent');
      $("#edit-node-modal-voltage_high").attr('data-voltagehigh', 'absent');
    }
  });

  $('#generator_speed-cb-edit').change(function () {
    if ($(this).is(':checked')) {
      $(".generator_speed-box-edit").removeClass("d-none");
      $("#edit-node-modal-generator_speed_low").attr('data-generatorspeedlow', 'present');
      $("#edit-node-modal-generator_speed_high").attr('data-generatorspeedhigh', 'present');
    } else {
      $(".generator_speed-box-edit").addClass("d-none");
      $("#edit-node-modal-generator_speed_low").attr('data-generatorspeedlow', 'absent');
      $("#edit-node-modal-generator_speed_high").attr('data-generatorspeedhigh', 'absent');
    }
  });

  $('#windspeed-cb-edit').change(function () {
    if ($(this).is(':checked')) {
      $(".windspeed-box-edit").removeClass("d-none");
      $("#edit-node-modal-windspeed_low").attr('data-windspeedlow', 'present');
      $("#edit-node-modal-windspeed_high").attr('data-windspeedhigh', 'present');
    } else {
      $(".windspeed-box-edit").addClass("d-none");
      $("#edit-node-modal-windspeed_low").attr('data-windspeedlow', 'absent');
      $("#edit-node-modal-windspeed_high").attr('data-windspeedhigh', 'absent');
    }
  });

  $('#power-cb-edit').change(function () {
    if ($(this).is(':checked')) {
      $(".power-box-edit").removeClass("d-none");
      $("#edit-node-modal-power_low").attr('data-powerlow', 'present');
      $("#edit-node-modal-power_high").attr('data-powerhigh', 'present');
    } else {
      $(".power-box-edit").addClass("d-none");
      $("#edit-node-modal-power_low").attr('data-powerlow', 'absent');
      $("#edit-node-modal-power_high").attr('data-powerhigh', 'absent');
    }
  });



  $("#add_node").click(function () {

    create_token();
    var payload_add = {
      machine: $("#machine").val(),
      location: $("#location").val(),
      sub_location: $("#sub_location").val(),
      uuid: $("#UID").val(),
      user_name: "{{ user.username }}",
      user_id: "{{ user.id }}",
      csrfmiddlewaretoken: "{{ csrf_token }}",
      email: $("#email").val(),

      current_low: $("#current_low").val(),
      current_high: $("#current_high").val(),

      power_low: $("#power_low").val(),
      power_high: $("#power_high").val(),

      voltage_high: $("#voltage_high").val(),
      voltage_low: $("#voltage_low").val(),

      generator_speed_high: $("#generator_speed_high").val(),
      generator_speed_low: $("#generator_speed_low").val(),

      power_high: $("#power_high").val(),
      power_low: $("#power_low").val(),

      windspeed_high: $("#windspeed_high").val(),
      windspeed_low: $("#windspeed_low").val(),
    };

    headers_payload = { 'Authorization': 'Bearer ' + y, 'Content-type': 'application/json' };

    //console.log(payload_add)

    //$('#my-checkbox-group').change(function () {
    if ($('.custom-control-input:checked').length > 0 && $("#machine").val() != "" && $("#location").val() != "" && $("#sub_location").val() != "" && $("#UID").val() != "" && $("#email").val() != "") {
      console.log('At least one checkbox is checked.');
      $.ajax({
        url: "/post_data_nodes",
        headers: headers_payload,
        type: "POST",
        data: JSON.stringify(payload_add),
        success: function (data, textStatus, jqXHR) {
          location.reload(true);
          // window.location.href = window.location.href;
          // location = location;
          // window.location.replace("http://127.0.0.1:8000/admin_panel");
        },
        error: function (jqXHR, textStatus, errorThrown) {
          alert(errorThrown);
        },
      });

    } else {
      // No checkboxes are checked
      alert('Please Fill Complete Information.');
    }
    //});


  });


  $("body").on("click", ".edit", function () {
    pk = (this.id);
    $.ajax({
      url: "/get_single_node/" + pk,
      data: {},
      //headers: headers_payload,
      type: "GET",
      contentType: "application/json",
      success: function (data, textStatus, jqXHR) {

        var data = JSON.parse(data);
        console.log(data);
        //console.log(data.voltage_high);

        $('#edit-node-modal-UID').val(data.uuid);
        $('#edit-node-modal-location').val(data.location);
        $('#edit-node-modal-sub_location').val(data.sub_location);
        $('#edit-node-modal-machine').val(data.machine);
        $('#edit-node-modal-email').val(data.email);
        $('#edit-node-modal-current_low').val(data.current_low);
        $('#edit-node-modal-current_high').val(data.current_high);
        $('#edit-node-modal-voltage_low').val(data.voltage_low);
        $('#edit-node-modal-voltage_high').val(data.voltage_high);
        $('#edit-node-modal-generator_speed_low').val(data.generator_speed_low);
        $('#edit-node-modal-generator_speed_high').val(data.generator_speed_high);
        $('#edit-node-modal-windspeed_low').val(data.windspeed_low);
        $('#edit-node-modal-windspeed_high').val(data.windspeed_high);
        $('#edit-node-modal-power_low').val(data.power_low);
        $('#edit-node-modal-power_high').val(data.power_high);
        $('.save-btn').attr("id", data.id);

        //$("#voltage-cb-edit").prop('checked', true);
        jQuery.noConflict();
        $('#edit-node-modal').modal('show')

      },
      error: function (jqXHR, textStatus, errorThrown) {
        alert(errorThrown)
      }
    })
  });




  $("body").on("click", ".save-btn", function () {
    create_token();
    pk = this.id

    var payload = {

      uuid: $('#edit-node-modal-UID').val(),
      location: $('#edit-node-modal-location').val(),
      sub_location: $('#edit-node-modal-sub_location').val(),
      machine: $('#edit-node-modal-machine').val(),
      email: $('#edit-node-modal-email').val(),
      current_low: $('#edit-node-modal-current_low').val(),
      current_high: $('#edit-node-modal-current_high').val(),
      voltage_low: $('#edit-node-modal-voltage_low').val(),
      voltage_high: $('#edit-node-modal-voltage_high').val(),
      generator_speed_low: $('#edit-node-modal-generator_speed_low').val(),
      generator_speed_high: $('#edit-node-modal-generator_speed_high').val(),
      windspeed_low: $('#edit-node-modal-windspeed_low').val(),
      windspeed_high: $('#edit-node-modal-windspeed_high').val(),
      power_low: $('#edit-node-modal-power_low').val(),
      power_high: $('#edit-node-modal-power_high').val(),


      current_low_value: $("#edit-node-modal-current_low").attr('data-currentlow'),
      current_high_value: $("#edit-node-modal-current_high").attr('data-currenthigh'),
      voltage_low_value: $("#edit-node-modal-voltage_low").attr('data-voltagelow'),
      voltage_high_value: $("#edit-node-modal-voltage_high").attr('data-voltagehigh'),
      generator_speed_low_value: $("#edit-node-modal-generator_speed_low").attr('data-generatorspeedlow'),
      generator_speed_high_value: $("#edit-node-modal-generator_speed_high").attr('data-generatorspeedhigh'),
      windspeed_low_value: $("#edit-node-modal-windspeed_low").attr('data-windspeedlow'),
      windspeed_high_value: $("#edit-node-modal-windspeed_high").attr('data-windspeedhigh'),
      power_low_value: $("#edit-node-modal-power_low").attr('data-powerlow'),
      power_high_value: $("#edit-node-modal-power_high").attr('data-powerhigh')

    };
    headers_payload = { 'Authorization': 'Bearer ' + y, 'Content-type': 'application/json' };

    $.ajax({
      url: "/update_single_node/" + pk + "/",
      type: "PUT",
      headers: headers_payload,
      data: JSON.stringify(payload),
      success: function (data, textStatus, jqXHR) {
        jQuery.noConflict();
        $('#edit-node-modal').modal('hide');
        $('#changes').modal('show');
        location.reload(true);
      },
      error: function (jqXHR, textStatus, errorThrown) {
        alert(errorThrown);
      },
    });

  });


  $("body").on("click", ".noti-center", function (e) {
    e.preventDefault()
    var ids = this.id
    uuid = $(this).attr('data-node-name');
    $('.save-user-node').attr('id', ids);
    $('#exampleModalLabel-deleted-node').text('Select new user for node ' + uuid + ids);
    $('#user-list-noti-modal').modal('show');
  });


  $("body").on("click", ".save-user-node", function (e) {
    e.preventDefault()
    create_token();

    var ids = this.id;

    payload_add = {
      "node_id": String(ids),
      "user_name": $('#user-list-dropdown :selected').text()
    }

    headers_payload = { 'Authorization': 'Bearer ' + y, 'Content-type': 'application/json' };

    $.ajax({
      url: "/manage_deleted_nodes/",
      data: JSON.stringify(payload_add),
      headers: headers_payload,
      type: "POST",
      contentType: "application/json",
      success: function (data, textStatus, jqXHR) {
        //alert("success"),
        $('#notifications-counter').text(parseInt($('#notifications-counter').text()) - 1);

        $('#notification-' + String(ids)).remove();
        var lis = '<a class="dropdown-item bg-transparent" id=""> <div class="noti rounded border-dark border"> <div class="toast-header"> <strong class="mr-auto h4"> No Notifications </strong> </div> </div> </a>'
        if ($('#notifications-counter').text() == String(0))
        //alert(ids)
        { $('#notification-list').append(lis); }


      },
      error: function (jqXHR, textStatus, errorThrown) {
        alert(errorThrown);
      },
    })
  })

  $("body").on("click", ".noti-delete", function (e) {
    e.preventDefault();
    create_token();

    headers_payload = { 'Authorization': 'Bearer ' + y, 'Content-type': 'application/json' };

    var ids = this.id;

    payload = {
      "node_id": String(ids)
    };

    $.ajax({
      url: "/manage_deleted_nodes",
      type: "DELETE",
      headers: headers_payload,
      data: JSON.stringify(payload),
      success: function (data, textStatus, jqXHR) {
        //alert("success")

        $('#notifications-counter').text(parseInt($('#notifications-counter').text()) - 1);

        $('#notification-' + String(ids)).remove();
        var lis = '<a class="dropdown-item bg-transparent" id=""> <div class="noti rounded border-dark border"> <div class="toast-header"> <strong class="mr-auto h4"> No Notifications </strong> </div> </div> </a>'
        if ($('#notifications-counter').text() == String(0))
        //alert(ids)
        { $('#notification-list').append(lis); }

      },
      error: function (jqXHR, textStatus, errorThrown) {
        alert(errorThrown);
      },
    });

  })

  function run_data_voltage() {
    //create_token();
    //headers_payload = {'Authorization': 'Bearer ' + y,'Content-type':'application/json'};
    $.ajax({
      url: "/volatge_data/",
      data: {},
      //headers: headers_payload,
      type: "GET",
      contentType: "application/json",
      success: function (result) {
        //console.log(result)  
        for (let i = 0; i < result.length; i++) {
          //console.log(result[i]["fields"]["uuid"]);
          $("#voltage-" + result[i]["fields"]["uuid"]).text(result[i]["fields"]["voltage"])
        };
      }
    });
  };
  setInterval(run_data_voltage, 5000);

  function run_data_current() {
    //create_token();
    //headers_payload = {'Authorization': 'Bearer ' + y,'Content-type':'application/json'};
    $.ajax({
      url: "/current_data/",
      data: {},
      //headers: headers_payload,
      type: "GET",
      contentType: "application/json",
      success: function (result) {
        //console.log(result)  
        for (let i = 0; i < result.length; i++) {
          //console.log(result[i]["fields"]["uuid"]);
          $("#current-" + result[i]["fields"]["uuid"]).text(result[i]["fields"]["current"])
        };
      }
    });
  };
  setInterval(run_data_current, 5000);


  function run_data_power() {
    //create_token();
    //headers_payload = {'Authorization': 'Bearer ' + y,'Content-type':'application/json'};
    $.ajax({
      url: "/power_data/",
      data: {},
      //headers: headers_payload,
      type: "GET",
      contentType: "application/json",
      success: function (result) {
        //console.log(result)  
        for (let i = 0; i < result.length; i++) {
          //console.log(result[i]["fields"]["uuid"]);
          $("#power-" + result[i]["fields"]["uuid"]).text(result[i]["fields"]["power"])
        };
      }
    });
  };
  setInterval(run_data_power, 5000);


  function run_data_generator_speed() {
    //create_token();
    //headers_payload = {'Authorization': 'Bearer ' + y,'Content-type':'application/json'};
    $.ajax({
      url: "/generator_speed_data/",
      data: {},
      //headers: headers_payload,
      type: "GET",
      contentType: "application/json",
      success: function (result) {
        //console.log(result)  
        for (let i = 0; i < result.length; i++) {
          //console.log(result[i]["fields"]["uuid"]);
          $("#generator_speed-" + result[i]["fields"]["uuid"]).text(result[i]["fields"]["generator_speed"])
        };
      }
    });
  };
  setInterval(run_data_generator_speed, 5000);


  function run_data_windspeed() {
    //create_token();
    //headers_payload = {'Authorization': 'Bearer ' + y,'Content-type':'application/json'};
    $.ajax({
      url: "/windspeed_data/",
      data: {},
      //headers: headers_payload,
      type: "GET",
      contentType: "application/json",
      success: function (result) {
        //console.log(result)  
        for (let i = 0; i < result.length; i++) {
          //console.log(result[i]["fields"]["uuid"]);
          $("#windspeed-" + result[i]["fields"]["uuid"]).text(result[i]["fields"]["windspeed"])
        };
      }
    });
  };
  setInterval(run_data_windspeed, 5000);



  function run_data_battery() {
    //create_token();
    //headers_payload = {'Authorization': 'Bearer ' + y,'Content-type':'application/json'};
    $.ajax({
      url: "/battery_data/",
      data: {},
      //headers: headers_payload,
      type: "GET",
      contentType: "application/json",
      success: function (result) {
        //console.log(result)  
        for (let i = 0; i < result.length; i++) {
          //console.log(result[i]["fields"]["uuid"]);
          $("#battery-" + result[i]["fields"]["uuid"]).text(result[i]["fields"]["battery"])
        };
      }
    });
  };
  setInterval(run_data_battery, 5000);


  function run_health_data() {
    //create_token();
    //headers_payload = {'Authorization': 'Bearer ' + y,'Content-type':'application/json'};
    $.ajax({
      url: "/node_health_data/",
      data: {},
      //headers: headers_payload,
      type: "GET",
      contentType: "application/json",
      success: function (result) {
        //console.log(result)  
        for (let i = 0; i < result.length; i++) {
          $("#faulty" + result[i]["fields"]["uuid"]).text(result[i]["fields"]["health"])

          if ((result[i]["fields"]["health"]) == "Unhealthy") {
            $("#faulty" + result[i]["fields"]["uuid"]).removeClass("text-success");
            $("#faulty" + result[i]["fields"]["uuid"]).addClass("text-danger");

            const str = (result[i]["fields"]["parameter"]).slice(0, -1);
            const array = str.split(' ');
            //console.log(array)
            
            for (let j = 0; j < array.length; j++) {
            $("." + array[j] + "-" + result[i]["fields"]["uuid"]).removeClass("text-success");
            $("." + array[j] + "-" + result[i]["fields"]["uuid"]).addClass("text-danger");
            }
            
          }
          else{
            $(".w-25").removeClass("text-danger");
            $(".w-25").addClass("text-success");
          };
        };
      }
    });
  };
  setInterval(run_health_data, 5000);


  function run_time_data() {
    //create_token();
    //headers_payload = {'Authorization': 'Bearer ' + y,'Content-type':'application/json'};
    $.ajax({
      url: "/time_data/",
      data: {},
      //headers: headers_payload,
      type: "GET",
      contentType: "application/json",
      success: function (result) {
        //console.log(result)  
        for (let i = 0; i < result.length; i++) {
          //console.log(result[i]["fields"]);
          $("#time" + result[i]["fields"]["uuid"]).text(result[i]["fields"]["date"] + " @ " + result[i]["fields"]["time"])
        };
      }
    });
  };
  setInterval(run_time_data, 5000);


  function run_notification_data() {
    //create_token();
    //headers_payload = {'Authorization': 'Bearer ' + y,'Content-type':'application/json'};
    $.ajax({
      url: "/notification_data/",
      data: {},
      //headers: headers_payload,
      type: "GET",
      contentType: "application/json",
      success: function (result) {
        $("#notification-list").empty();
        $("#notifications-counter").text(result.length);
        if (result.length > 0) {
          for (let i = 0; i < result.length; i++) {
            $("#notification-list").append(`
              <a class="dropdown-item bg-transparent" id="notification-notification${result[i]["fields"]["node_id"]}">
                <div class="noti rounded border-dark border">
                  <div class="toast-header">
                    <strong class="mr-auto h4"> ${result[i]["fields"]["uuid"]} node as been deleted</strong>
                  </div>
                  <div class="toast-body">
                    Please Take a action :
                  </div>
                    <div class="row toast-body">
                      <button type="button" class="btn btn-primary col-4 mx-2 noti-center" id="${result[i]["fields"]["node_id"]}"
                        data-node-name="${result[i]["fields"]["uuid"]}">Change User</button>
                      <button type="button" class="btn btn-danger col-4 mx-1 noti-delete" id="${result[i]["fields"]["node_id"]}"
                        data-node-name="${result[i]["fields"]["uuid"]}">Delete Node</button>
                    </div>
                </div>
              </a>
              `);
              $("#delete_node" + result[i]["fields"]["node_id"]).hide();
              //console.log("#delete_node" + result[i]["fields"]["node_id"])
          };
        }
        else {
          $("#notification-list").append(`
            <a class="dropdown-item bg-transparent" id="">
              <div class="noti rounded border-dark border">
                <div class="toast-header">
                  <strong class="mr-auto h4"> No Notifications </strong>
                </div>
              </div>
            </a>`)
        }
      }
    });
  };
  setInterval(run_notification_data, 2000);


  function check_deleted_nodes() {
    //create_token();
    //headers_payload = {'Authorization': 'Bearer ' + y,'Content-type':'application/json'};
    $.ajax({
      url: "/check_deleted_nodes/",
      data: {},
      //headers: headers_payload,
      type: "GET",
      contentType: "application/json",
      success: function (result) {
        for (let i = 0; i < result.length; i++) {
          //console.log("#delete_node" + result[i]["pk"])  
          //$("#delete_node" + result[i]["pk"]).addClass("d-none");
        document.getElementById("delete_node" + String(result[i]["pk"])).remove();
        };
      }
    });
  };
  setInterval(check_deleted_nodes, 2000);

  function task_data() {
    //create_token();
    //headers_payload = {'Authorization': 'Bearer ' + y,'Content-type':'application/json'};
    $.ajax({
      url: "/task_data/",
      data: {},
      //headers: headers_payload,
      type: "GET",
      contentType: "application/json",
      success: function (result) {
       if(result == "incomplete"){
        location.reload(true);
       }
      }
    });
  };
  setInterval(task_data, 2000);

  //---------------------------------------------------------------------------------------------------------------------





  Chart.defaults.global.defaultFontFamily = 'Nunito', '-apple-system,system-ui,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,sans-serif';
  Chart.defaults.global.defaultFontColor = '#858796';

  function number_format(number, decimals, dec_point, thousands_sep) {
    // *     example: number_format(1234.56, 2, ',', ' ');
    // *     return: '1 234,56'
    number = (number + '').replace(',', '').replace(' ', '');
    var n = !isFinite(+number) ? 0 : +number,
      prec = !isFinite(+decimals) ? 0 : Math.abs(decimals),
      sep = (typeof thousands_sep === 'undefined') ? ',' : thousands_sep,
      dec = (typeof dec_point === 'undefined') ? '.' : dec_point,
      s = '',
      toFixedFix = function (n, prec) {
        var k = Math.pow(10, prec);
        return '' + Math.round(n * k) / k;
      };
    // Fix for IE parseFloat(0.55).toFixed(0) = 0;
    s = (prec ? toFixedFix(n, prec) : '' + Math.round(n)).split('.');
    if (s[0].length > 3) {
      s[0] = s[0].replace(/\B(?=(?:\d{3})+(?!\d))/g, sep);
    }
    if ((s[1] || '').length < prec) {
      s[1] = s[1] || '';
      s[1] += new Array(prec - s[1].length + 1).join('0');
    }
    return s.join(dec);
  }

  // Area Chart Example
  function graph(label, data1, data2, data3, data4, data5) {
    var ctx = document.getElementById("myAreaChart");
    var myLineChart = new Chart(ctx, {
      type: 'line',
      data: {
        labels: label,
        datasets: [{
          label: "current",
          lineTension: 0.3,
          backgroundColor: "#FFFFFF",
          borderColor: "#FF0000",
          pointRadius: 3,
          pointBackgroundColor: "#FF0000",
          pointBorderColor: "#FF0000",
          pointHoverRadius: 3,
          pointHoverBackgroundColor: "#FF0000",
          pointHoverBorderColor: "#FF0000",
          pointHitRadius: 10,
          pointBorderWidth: 2,
          data: data1,
        },
        {
          label: "power",
          lineTension: 0.3,
          backgroundColor: "#FFFFFF",
          borderColor: "#30e3e3",
          pointRadius: 3,
          pointBackgroundColor: "#30e3e3",
          pointBorderColor: "#30e3e3",
          pointHoverRadius: 3,
          pointHoverBackgroundColor: "#30e3e3",
          pointHoverBorderColor: "#30e3e3",
          pointHitRadius: 10,
          pointBorderWidth: 2,
          data: data2,
        },
        {
          label: "voltage",
          lineTension: 0.3,
          backgroundColor: "#FFFFFF",
          borderColor: "#0000FF",
          pointRadius: 3,
          pointBackgroundColor: "#0000FF",
          pointBorderColor: "#0000FF",
          pointHoverRadius: 3,
          pointHoverBackgroundColor: "#0000FF",
          pointHoverBorderColor: "#0000FF",
          pointHitRadius: 10,
          pointBorderWidth: 2,
          data: data3,
        },
        {
          label: "generator speed",
          lineTension: 0.3,
          backgroundColor: "#FFFFFF",
          borderColor: "#FFA500",
          pointRadius: 3,
          pointBackgroundColor: "FFA500",
          pointBorderColor: "FFA500",
          pointHoverRadius: 3,
          pointHoverBackgroundColor: "FFA500",
          pointHoverBorderColor: "FFA500",
          pointHitRadius: 10,
          pointBorderWidth: 2,
          data: data4,
        },
        {
          label: "windspeed",
          lineTension: 0.3,
          backgroundColor: "#FFFFFF",
          borderColor: "#800080",
          pointRadius: 3,
          pointBackgroundColor: "#800080",
          pointBorderColor: "#800080",
          pointHoverRadius: 3,
          pointHoverBackgroundColor: "#800080",
          pointHoverBorderColor: "#800080",
          pointHitRadius: 10,
          pointBorderWidth: 2,
          data: data5,
        }]
      },
      options: {
        maintainAspectRatio: false,
        layout: {
          padding: {
            left: 10,
            right: 25,
            top: 25,
            bottom: 0
          }
        },
        scales: {
          xAxes: [{
            time: {
              unit: 'date'
            },
            gridLines: {
              display: false,
              drawBorder: false
            },
            ticks: {
              maxTicksLimit: 7
            }
          }],
          yAxes: [{
            ticks: {
              maxTicksLimit: 5,
              padding: 10,
              callback: function (value, index, values) {
                return number_format(value);
              }
            },
            gridLines: {
              color: "rgb(234, 236, 244)",
              zeroLineColor: "rgb(234, 236, 244)",
              drawBorder: true,
              borderDash: [2],
              zeroLineBorderDash: [2]
            }
          }],
        },
        legend: {
          display: true
        },
        tooltips: {
          backgroundColor: "rgb(255,255,255)",
          bodyFontColor: "#858796",
          titleMarginBottom: 10,
          titleFontColor: '#6e707e',
          titleFontSize: 14,
          borderColor: '#dddfeb',
          borderWidth: 1,
          xPadding: 15,
          yPadding: 15,
          displayColors: false,
          intersect: true,
          mode: 'index',
          caretPadding: 10,
          callbacks: {
            label: function (tooltipItem, chart) {
              var datasetLabel = chart.datasets[tooltipItem.datasetIndex].label || '';
              return datasetLabel + ':' + number_format(tooltipItem.yLabel);
            }
          }
        }
      }
    });
  };

  $("#senddata").click(function (e) {
    e.preventDefault();
    create_token();
    var payload_add = {
      uuid: $("#uuid_graph").val(),
      field: $("#field").val(),
      start_date: $("#start_date").val(),
      end_date: $("#end_date").val(),
      start_time: $("#start_time").val(),
      end_time: $("#end_time").val(),
    };
    if (Math.floor((Date.parse($("#end_date").val()) - Date.parse($("#start_date").val())) / 86400000) < 90) {
      headers_payload = { 'Authorization': 'Bearer ' + y, 'Content-type': 'application/json' };
      $.ajax({
        url: "/graph" + "/",
        headers: headers_payload,
        type: "POST",
        data: JSON.stringify(payload_add),
        success: function (data, textStatus, jqXHR) {

          console.log(data);

          var label = data["labels"];
          var data1 = (data["current"] || [0]);
          var data2 = (data["power"] || [0]);
          var data3 = (data["voltage"] || [0]);
          var data4 = (data["generator_speed"] || [0]);
          var data5 = (data["windspeed"] || [0]);

          $('#table-report').empty();
          $("#myAreaChart").remove()
          $("#graph_div").append(`<canvas class="m-3" id="myAreaChart"></canvas>`)

          graph(label, data1, data2, data3, data4, data5);

            uuid = $("#uuid_graph").val(),
            start_time = $("#start_time").val(),
            end_time = $("#end_time").val(),
            start_date = $("#start_date").val(),
            end_date = $("#end_date").val(),
            $("#node_name").text(uuid)
          $("#node_date").text(start_date + "-" + end_date)
          $("#node_time").text(start_time + "-" + end_time)
          $("#print_table").attr("href", "/generateinvoice/" + uuid + "/" + start_time + "/" + end_time + "/" + start_date + "/" + end_date + "/")

        },

        error: function (jqXHR, textStatus, errorThrown) {
          alert(errorThrown);
        },

      })
    }
    else {
      alert("Select Dates Till 3 months")
    }
    ;
  });



  $("#senddata").click(function (e) {

    create_token();
    var payload_add = {
      uuid: $("#uuid_graph").val(),
      field: $("#field").val(),
      start_date: $("#start_date").val(),
      end_date: $("#end_date").val(),
      start_time: $("#start_time").val(),
      end_time: $("#end_time").val(),
    };

    headers_payload = { 'Authorization': 'Bearer ' + y, 'Content-type': 'application/json' };

    $.ajax({
      url: "/statis/",
      headers: headers_payload,
      data: JSON.stringify(payload_add),
      type: "POST",
      success: function (data, textStatus, jqXHR) {
        //console.log(data.current_std),
        data = JSON.parse(data),
          $("#sd_current").text(data["current_std"]),
          $("#sd_power").text(data["power_std"]),
          $("#sd_voltage").text(data["voltage_std"]),
          $("#sd_generator_speed").text(data["generator_speed_std"]),
          $("#sd_windspeed").text(data["windspeed_std"]),


          $("#vari_current").text(data["current_var"]),
          $("#vari_power").text(data["power_var"]),
          $("#vari_voltage").text(data["voltage_var"]),
          $("#vari_generator_speed").text(data["generator_speed_var"]),
          $("#vari_windspeed").text(data["windspeed_var"]),


          $("#mean_current").text(data["current_mean"]),
          $("#mean_power").text(data["power_mean"]),
          $("#mean_voltage").text(data["voltage_mean"]),
          $("#mean_generator_speed").text(data["generator_speed_mean"]),
          $("#mean_windspeed").text(data["windspeed_mean"])

      },
      error: function (jqXHR, textStatus, errorThrown) {
        alert(errorThrown);
        jQuery.noConflict();
        $('#stats_error').modal('show');
      }
    });
  })



  $("#senddata").click(function (e) {
    create_token();
    var payload_add = {
      uuid: $("#uuid_graph").val(),
      field: $("#field").val(),
      start_date: $("#start_date").val(),
      end_date: $("#end_date").val(),
      start_time: $("#start_time").val(),
      end_time: $("#end_time").val(),
    };
    uuid = $("#uuid_graph").val(),
      headers_payload = { 'Authorization': 'Bearer ' + y, 'Content-type': 'application/json' };
    $.ajax({
      url: "/insight_current_week/" + uuid,
      headers: headers_payload,
      data: JSON.stringify(payload_add),
      type: "POST",
      success: function (data, textStatus, jqXHR) {
        console.log(data)
        $("#insights_week").text(data)
      },
      error: function (jqXHR, textStatus, errorThrown) {
        alert(errorThrown);
      }
    });

    $.ajax({
      url: "/insight_current_month/" + uuid,
      headers: headers_payload,
      type: "POST",
      success: function (data, textStatus, jqXHR) {
        console.log(data)
        $("#insights_month").text(data)
      },
      error: function (jqXHR, textStatus, errorThrown) {
        alert(errorThrown);
      }
    });

    $.ajax({
      url: "/insight_current_range",
      headers: headers_payload,
      data: JSON.stringify(payload_add),
      type: "POST",
      success: function (data, textStatus, jqXHR) {
        console.log(data)
        $("#insights_time").text(data)
        $("#node_date").text(start_date + "-" + end_date)
      },
      error: function (jqXHR, textStatus, errorThrown) {
        alert(errorThrown);
      }
    });
  });


  $("#senddata").click(function () {
    $('.filter').addClass('d-none');
    $('.stats-area').removeClass('d-none')
  });

  $("#back-btn").click(function () {
    $('.filter').removeClass('d-none');
    $('.stats-area').addClass('d-none')
  });




  function printDiv(divId) {
    var divToPrint = document.getElementById(divId);

    //var navbar = document.getElementById("accordionSidebar");
    //navbar.style.visibility = 'hidden';

    divToPrint.style.visibility = 'visible';
    window.print();
    // Reset visibility after printing (optional)
    divToPrint.style.visibility = 'visible';
    //navbar.style.visibility = 'visible';
  }


  var printButton = document.getElementById('print_graph_1');
  printButton.addEventListener('click', function () {
    printDiv("canvas_div_pdf")
  });



  $("#print_graph").click(function (e) {
    e.preventDefault();
    uuid = $("#uuid_graph").val(),
      start_date = $("#start_date").val(),
      end_date = $("#end_date").val(),
      start_time = $("#start_time").val(),
      end_time = $("#end_time").val(),
      $("#node_name").text(uuid)
    $("#node_date").text(start_date + "-" + end_date)
    $("#node_time").text(start_time + "-" + end_time)

    //var HTML_Width = $("#pdf").width();
    //var HTML_Height = $("#pdf").height();
    //var top_left_margin = 15;
    //var PDF_Width = HTML_Width+(top_left_margin*2);
    //var PDF_Height = (PDF_Width*1.5)+(top_left_margin*2);
    //var canvas_image_width = HTML_Width;
    //var canvas_image_height = HTML_Height;

    var HTML_Width = 1080;
    var HTML_Height = 720;
    var top_left_margin = 15;
    var PDF_Width = HTML_Width + (top_left_margin * 2);
    var PDF_Height = (PDF_Width * 1.5) + (top_left_margin * 2);
    var canvas_image_width = HTML_Width;
    var canvas_image_height = HTML_Height;

    var totalPDFPages = Math.ceil(HTML_Height / PDF_Height) - 1;


    html2canvas($("#canvas_div_pdf")[0], { allowTaint: true }).then(function (canvas) {
      canvas.getContext('2d');

      console.log(canvas.height + "  " + canvas.width);


      var imgData = canvas.toDataURL("image/jpeg", 1.0);
      var pdf = new jsPDF('p', 'pt', [PDF_Width, PDF_Height]);
      pdf.addImage(imgData, 'JPG', top_left_margin, top_left_margin, canvas_image_width, canvas_image_height);


      for (var i = 1; i <= totalPDFPages; i++) {
        pdf.addPage(PDF_Width, PDF_Height);
        pdf.addImage(imgData, 'JPG', top_left_margin, -(PDF_Height * i) + (top_left_margin * 4), canvas_image_width, canvas_image_height);
      }

      pdf.save("Document.pdf");
    });

  });


  $("#glance").click(function (e) {
    e.preventDefault();
    var HTML_Width = $("#appender").width();
    var HTML_Height = $("#appender").height();
    var top_left_margin = 15;
    var PDF_Width = HTML_Width + (top_left_margin * 2);
    var PDF_Height = (PDF_Width * 1.5) + (top_left_margin * 2);
    var canvas_image_width = HTML_Width;
    var canvas_image_height = HTML_Height;

    var totalPDFPages = Math.ceil(HTML_Height / PDF_Height) - 1;


    html2canvas($("#appender")[0], { allowTaint: true }).then(function (canvas) {
      canvas.getContext('2d');

      console.log(canvas.height + "  " + canvas.width);


      var imgData = canvas.toDataURL("image/jpeg", 1.0);
      var pdf = new jsPDF('p', 'pt', [PDF_Width, PDF_Height]);
      pdf.addImage(imgData, 'JPG', top_left_margin, top_left_margin, canvas_image_width, canvas_image_height);


      for (var i = 1; i <= totalPDFPages; i++) {
        pdf.addPage(PDF_Width, PDF_Height);
        pdf.addImage(imgData, 'JPG', top_left_margin, -(PDF_Height * i) + (top_left_margin * 4), canvas_image_width, canvas_image_height);
      }

      pdf.save("Document.pdf");
    });

  });

  //$("#sidebarToggleTop").click();

  //   $("#print_table").click(function (e){
  //     create_token();
  //     var payload_add = {
  //     uuid: $("#uuid_graph").val(),
  //     field: $("#field").val(),
  //     start_date: $("#start_date").val(),
  //     end_date: $("#end_date").val(),   
  //     start_time: $("#start_time").val(),
  //     end_time: $("#end_time").val(),    
  //     };
  //     headers_payload = {'Authorization': 'Bearer ' + y,'Content-type':'application/json'};
  //     $.ajax({
  //     url: "/generateinvoice/",
  //     headers: headers_payload,
  //     type: "GET",
  //     data: JSON.stringify(payload_add),
  //     success: function (data, textStatus, jqXHR) {
  //       data
  //     }
  //     })

  // });

  // $("#print_table").click(function (){
  //   uuid= $("#uuid_graph").val(),
  //   start_date= $("#start_date").val(),
  //   end_date= $("#end_date").val(),   
  //   start_time= $("#start_time").val(),
  //   end_time= $("#end_time").val(),
  //   $("#print_table").attr("href", "/generateinvoice/"+uuid+"/"+start_time+"/"+end_date+"/"+start_date+"/"+end_date+"/")
  // })



  $("body").on("click", "#id-1", function () {
    $("#appender").removeClass("d-none")
    $(".class-2").addClass("d-none")
    $(".class-3").addClass("d-none")
    $(".class-4").addClass("d-none")
  });

  $("body").on("click", "#id-2", function () {
    $(".class-2").removeClass("d-none")
    $("#appender").addClass("d-none")
    $(".class-3").addClass("d-none")
    $(".class-4").addClass("d-none")
  });

  $("body").on("click", "#id-3", function () {
    $(".class-3").removeClass("d-none")
    $(".class-2").addClass("d-none")
    $("#appender").addClass("d-none")
    $(".class-4").addClass("d-none")
  });

  $("body").on("click", "#id-4", function () {
    $(".class-4").removeClass("d-none")
    $(".class-3").addClass("d-none")
    $(".class-2").addClass("d-none")
    $("#appender").addClass("d-none")
  });

  // $("body").on("click", "#node1", function () {

  //   navigator.geolocation.getCurrentPosition(success, error);

  //   function success(position) {
  //     console.log(position.coords.latitude);
  //     $('#latitude').val(position.coords.latitude);
  //     console.log(position.coords.longitude);
  //     $('#longitude').val(position.coords.longitude);

  //     var GEOCODING = 'https://maps.googleapis.com/maps/api/geocode/json?latlng=' + position.coords.latitude + '%2C' + position.coords.longitude + '&language=en';

  //     $.getJSON(GEOCODING).done(function (location) {
  //       console.log(location)
  //     })

  //   }

  //   function error(err) {
  //     console.log(err)
  //   }

  // });

  $("body").on("click", "#create_user_button", function (e) {
    create_token();
    var payload = {
      first_name: $("#user_fname").val(),
      last_name: $("#user_lname").val(),
      username: $("#user_uname").val(),
      password: $("#user_pass").val(),
      role: $('input[name="roles"]:checked').val(),
    };
    headers_payload = { 'Authorization': 'Bearer ' + y, 'Content-type': 'application/json' };

    if ((payload.first_name).length == 0 || (payload.last_name).length == 0 || (payload.username).length == 0 || (($('input[name="roles"]:checked')).length) == 0) {
      jQuery.noConflict();
      $("#user_modal").modal("hide");
      $('#fields').modal('show');
    }
    else {
      $.ajax({
        url: "/user_veiw",
        type: "POST",
        headers: headers_payload,
        data: JSON.stringify(payload),
        success: function (data, textStatus, jqXHR) {
          jQuery.noConflict();
          $('#user_create').modal('show');

          q = `<tr class="user_row_${data}">
                <td>${data}</td>
                <td>${payload.first_name} ${payload.last_name}</td>
                <td>${payload.username}</td>
                <td class="${payload.role}_${data}" >${payload.role}</td>
                <td><div class=" btn-group">
                  <button class="btn btn-secondary btn-sm dropdown-toggle" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    Roles
                  </button>
                  <div class="mask dropdown-menu">
                    <a class="mask dropdown-item super_admin" id="${data}">Super admin</a>
                    <a class="mask dropdown-item admin" id="${data}">admin</a>
                    <a class="mask dropdown-item observer" id="${data}">observer</a>
                    <a class="mask dropdown-item user" id="${data}">user</a>
                  </div>
                </div></td>
                <td><button type="button" class="btn btn-danger delete_user" id="${data}">Delete</button></td>
              </tr>`,
            $("#user_table").append(q),
            $("#user_modal").modal("hide")
        },
        error: function (jqXHR, textStatus, errorThrown) {
          alert(errorThrown);
        },
      });
    }


  });

  $("body").on("click", ".delete_user", function (e) {
    create_token();

    id = this.id

    var payload = {
      id: id,
    }
    headers_payload = { 'Authorization': 'Bearer ' + y, 'Content-type': 'application/json' }
    $.ajax({
      url: "/user_veiw",
      type: "DELETE",
      headers: headers_payload,
      data: JSON.stringify(payload),
      success: function (data, textStatus, jqXHR) {
        $(".user_row_" + id).hide()
        $('#user_delete_modal').modal('show');
      },
      error: function (jqXHR, textStatus, errorThrown) {
        alert(errorThrown);
      },
    });

  });



  $("body").on("click", ".super_admin", function (e) {
    create_token();

    id = this.id

    var payload = {
      id: id,
      role: 'administrator',
    }
    //console.log(payload)

    headers_payload = { 'Authorization': 'Bearer ' + y, 'Content-type': 'application/json' }

    $.ajax({
      url: "/user_veiw",
      type: "PUT",
      headers: headers_payload,
      data: JSON.stringify(payload),
      success: function (data, textStatus, jqXHR) {
        $(".administrator_" + id).text("administrator")
        $(".admin_" + id).text("administrator")
        $(".observer_" + id).text("administrator")
        $(".user_" + id).text("administrator")
      },
      error: function (jqXHR, textStatus, errorThrown) {
        alert(errorThrown);
      },
    });

  });


  $("body").on("click", ".admin", function (e) {
    create_token();

    id = this.id

    var payload = {
      id: id,
      role: 'admin',
    }
    console.log(payload)

    headers_payload = { 'Authorization': 'Bearer ' + y, 'Content-type': 'application/json' }

    $.ajax({
      url: "/user_veiw",
      type: "PUT",
      headers: headers_payload,
      data: JSON.stringify(payload),
      success: function (data, textStatus, jqXHR) {
        $(".administrator_" + id).text("admin")
        $(".admin_" + id).text("admin")
        $(".observer_" + id).text("admin")
        $(".user_" + id).text("admin")

      },
      error: function (jqXHR, textStatus, errorThrown) {
        alert(errorThrown);
      },
    });

  });

  $("body").on("click", ".observer", function (e) {
    create_token();

    id = this.id

    var payload = {
      id: id,
      role: 'observer',
    }
    //console.log(payload)

    headers_payload = { 'Authorization': 'Bearer ' + y, 'Content-type': 'application/json' }

    $.ajax({
      url: "/user_veiw",
      type: "PUT",
      headers: headers_payload,
      data: JSON.stringify(payload),
      success: function (data, textStatus, jqXHR) {
        $(".administrator_" + id).text("observer")
        $(".admin_" + id).text("observer")
        $(".observer_" + id).text("observer")
        $(".user_" + id).text("observer")
      },
      error: function (jqXHR, textStatus, errorThrown) {
        alert(errorThrown);
      },
    });

  });

  $("body").on("click", ".user", function (e) {
    create_token();

    id = this.id

    var payload = {
      id: id,
      role: 'user',
    }
    console.log(payload)

    headers_payload = { 'Authorization': 'Bearer ' + y, 'Content-type': 'application/json' }

    $.ajax({
      url: "/user_veiw",
      type: "PUT",
      headers: headers_payload,
      data: JSON.stringify(payload),
      success: function (data, textStatus, jqXHR) {
        $(".administrator_" + id).text("user")
        $(".admin_" + id).text("user")
        $(".observer_" + id).text("user")
        $(".user_" + id).text("user")
      },
      error: function (jqXHR, textStatus, errorThrown) {
        alert(errorThrown);
      },
    });

  });


  })

</script>